@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');

.Logo {


    position: relative;
    
    font-family: Saira Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 82px;
    line-height: 70%;
    text-align: center;
    background: #F4F4F4;

    
    color: #8C95E3;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.MenuText {
    position: absolute;
    width: 103px;
    height: 33px;
    left: 0px;
    top: 60px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    text-align: center;

    color: #0AA8B2;
}

.triangle { /* not in use as of now */
    position: absolute;
    left: 110px;
    top: 140px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 0;
    border-bottom: 40px solid #0AA8B2;
  }

.Background {
    background-color: #F4F4F4;
    height: 15%;
    width: 100%;
    position: absolute;
    top: -30px;
}