.App-container {
    max-width: 960px;
    padding: var(--m) var(--m);
    margin: auto;
    background-image: "../images/blurred_farm.jpg";
  }

.Tasks-background {
    background-color: var(--cultured);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: cover;
}