.App-container {
    max-width: 960px;
    padding: var(--m) var(--m);
    margin: auto;
  }

.Tasks-background {
    background-color: var(--cultured);
}

.tasks-background-bottom {
  background-color: var(--cultured);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex: 1;
  background-size: cover;
}

.not-logged-into-tasks {
  height: 75vh;
}