@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200;600&family=Saira+Semi+Condensed:wght@300&display=swap');




.WelcomeImage {
    position: absolute;
    height: 80%;
    width: 100%;
    object-fit: cover;
    top:187px;
    bottom: 0px;
}

.Picturesque {
    position: relative;

    
    font-family: Saira Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
    
    color: #4A5AED;
    background-color: #f4f4f4;
}

.TextOnWelcomeImage {
    position: absolute;
    bottom: 132px;
    z-index: 100;
    height: 100px;
    color: white;
    font-size: 60pt;
    font-family: Saira Condensed;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    left: 75px
}

.NewUserText {
    position: absolute;
    bottom: 205px;
    z-index: 101;
    height: 50px;
    color: white;
    font-size: 20pt;
    font-family: Saira Semi Condensed;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    right: 150px;
}

.ExistingUserText {
    position: absolute;
    bottom: 153px;
    z-index: 101;
    height: 50px;
    color: white;
    font-size: 20pt;
    font-family: Saira Semi Condensed;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    right: 101px;
}

.GetEvolvingText {
    position: absolute;
    bottom: 178px;
    z-index: 101;
    height: 50px;
    color: white;
    font-size: 20pt;
    font-family: Saira Semi Condensed;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    right: 240px;
}

.GetEvolvingArrow {
    cursor: pointer;
}

.WelcomeStrip {
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0px;
    bottom: 155px;
    z-index: 99;

    background: #000000;
    mix-blend-mode: darken;
    opacity: .7;
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-115deg);
    color:white;
    
}


