
.btn-pluss {
    overflow: hidden;
    position: fixed;
    top: 18px;
    left: 200px;
    padding-left: 50px;
    padding-right: 50px;
    width: 80px;
    height: 100%;
    margin: auto;
    z-index: 100000;
}
.btn-pluss a { /* actual buttons */
    display: block;
    position: relative;
    color: #0AA8B2;
    text-decoration: none;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    z-index: 100000;
}
.btn-pluss a:hover { /* actual buttons */
    text-decoration: inherit;
    color: white;
    background-color: #0AA8B2;
    transition: background-color 0.5s ease;
    z-index: 100000;
}
.btn-pluss:after {
    content: 'Menu +';
    position: absolute;
    top: 19px;
    left: 100px;
    display: block;
    height: 50px;
    width: 80px;
    border-radius: 100%;
    line-height: 35px;
    text-align: center;
    font-size: 1.1rem;
    background-color: #0AA8B2;
    color: white;
    cursor: pointer;
    cursor: hand;
    z-index: 100000;
}
.btn-pluss ul {
    opacity: 0;
    z-index: 100000;
}
.btn-pluss ul {
    margin-top: 15px;
    opacity: 0;
    width: 100%;

    transition: all 0.5s ease;
    text-align: center;
    font-size: 0.9rem;
    z-index: 100000;
}
.btn-pluss ul li {
    background-color: #e4e4e4;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height 1s ease;
    z-index: 100000;
}

.btn-pluss-wrapper:hover .btn-pluss {
    width: 150px;
    border-radius: 15px;
    padding-bottom: 5px;
    z-index: 100000;
}
.btn-pluss-wrapper:hover .btn-pluss::after {
    background-color: #fa434b;
    content: 'Menu -';
    transition: all 0.3s ease;
    left: 19px;
    top: 100px;
    z-index: 100000;
}
.btn-pluss-wrapper:hover .btn-pluss ul {
    opacity: 1;
    margin-top: 63px;
    margin-bottom: 1px;
    transition: all 1s ease;
    z-index: 100000;
}
.btn-pluss-wrapper:hover .btn-pluss li { 
    position: relative;
    height: 25px;
    transition: height 1s ease;
    z-index: 100000;
}
.btn-pluss-wrapper:hover .btn-pluss li:hover {
    border-bottom: 1px solid #d2c9c9;
    z-index: 100000;
}
