.NewPostInput-input,
.NewPostInput-button {
  font-family: "Open Sans";
  font-size: 14px;
  padding: var(--s) var(--m);
}

.NewPostInput-input {
  flex-grow: 1;
  border: var(--darkestgrey) 3px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
  color: var(--darkestgrey);
  height: 50px;
}

.NewPostInput-input:focus-within {
  border-color: var(--darkestgrey);
  box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

.NewPostInput-button {
  color: var(--darkestgrey);
  border: var(--darkestgrey) 3px solid;
  border-radius: 5%;
  background: none;
  transition: color 0.1s, background 0.1s;
  width: 70px;
  height: 70px;
  margin-right: 50px;
  font-size: 40px;
}

.NewPostInput-button:hover {
  background-color: var(--green);
}

.NewTaskCenter {
  text-align: center;
}

.newtask-container {
  border: var(--richblack) 3px solid;
  border-radius: var(--m);
  margin-top: var(--m);
  background-color: var(--white);
  padding: 50px;
}