

.NewPostInput-input {
  flex-grow: 1;
  border: var(--richblack) 3px solid;
  border-radius: var(--xs);
  transition: box-shadow 0.1s;
  color: var(--richblack);
  height: 50px;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  padding: var(--s) var(--m);
}

.NewPostInput-input:focus-within {
  border-color: var(--richblack);
  box-shadow: 0 0 0 var(--xs) var(--primary-opaque);
}

.NewPostInput-button {
  color: var(--richblack);
  border: var(--richblack) 3px solid;
  border-radius: 50%;
  background: none;
  transition: color 0.1s, background 0.1s;
  width: 70px;
  height: 70px;
  margin-right: 35px;
  font-size: 40px;
}

.NewPostInput-button:hover {
  background-color: var(--primary);
}

.NewTaskCenter {
  text-align: center;
}

.newtask-container {
  border: var(--richblack) 3px solid;
  border-radius: var(--m);
  background-color: var(--white);
  padding: 15px 25px;
  display: flex;
}