.task-container {
  margin-top: var(--m);
  border: var(--richblack) 3px solid;
  border-radius: var(--m);
  background-color: var(--white);
  padding: 10px 25px;
  display: flex;
  align-items: center;
}

.task-content {
  color: var(--richblack);
  font-family: "Outfit", sans-serif;
  font-size: 40px;
}