.box {
  display: flex;
  margin: 0 0 15px 0;
  justify-content: space-between;
  border: var(--richblack) 3px solid;
  background: var(--primary);
  border-radius: var(--s);
  overflow-wrap: anywhere;
  padding: 15px;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  margin-left: 10px;
  background: var(--cultured);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: var(--richblack);
  text-align: center;
  font-size: 20px;
  border: 1px solid;
  border-color: var(--richblack)
}

.popup-text {
  color: var(--richblack);
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  overflow-wrap: anywhere;
}